#sobre {
    width: 100%;
    margin-top: 32px;
    scroll-margin-top: 80px;
}

#sobre_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-right: 565px;
}

#sobre_img {
    width: 100%;
    max-width: 500px;
    height: auto;
    border-radius: 10px;
}

#sobre_content {
    width: 100%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 20px;
}

.section-title {
    font-size: 2rem;
    margin: 0;
}

.section-subtitle {
    font-size: 1.5rem;
    margin: 10px 0;
}

#texto_completo {
    width: 100%;
    margin-top: 20px;
    font-size: 1.5rem;
    line-height: 1.5;
}


@media (max-width: 768px) {
    #sobre_wrapper {
        flex-direction: column;
        align-items: flex-start;
        
    }

    #sobre_content {
        padding-left: 0;
        padding-top: 20px;
    }

    .section-title {
        font-size: 1.75rem;
    }

    .section-subtitle {
        font-size: 1.25rem;
    }
}

@media (max-width: 480px) {
    .section-title {
        font-size: 1.5rem;
    }

    .section-subtitle {
        font-size: 1rem;
    }

    #sobre_content {
        padding-top: 10px;
    }

    #texto_completo {
        font-size: 0.9rem;
    }
}
